// vim: syntax=nextflow
// Executor ("slurm" or "local")


/*****************************************************/
/* Definitions that administer resource allocations  */
/* for scheduling jobs. They might need to be        */
/* changed depending on the dataset sizes, available */
/* resources, or the scheduler (i.e. SLURM)          */

process {
    // defaults:
    memory = { 8.GB * task.attempt }
    time = { 4.h * task.attempt }
    cpus = 1

    // special requirements

    // processes that usually depend on the sample or variant counts
    // These numbers are suitable for everyday use but might need to
    // be increased for biobank-scale data
    withLabel: big_mem { memory = { 16.GB * task.attempt } }
    withLabel: long_running { time = { 24.h * task.attempt } }

    // For smaller processes that may get priority on the scheduler
    // because of low resource needs. These are virtually independent
    // from the actual dataset size.
    withLabel: small_mem { memory = { 2.GB * task.attempt } }
    withLabel: short_running { time = { 1.h * task.attempt } }
}

/*** Internal definitions start here. These shouldn't be changed at all. ***/

// Container
singularity.enabled = true


// Tracing
trace.enabled = true
trace.file = "trace.txt"
trace.raw = true
trace.sep = ";"
trace.fields = 'process,name,tag,hash,realtime,cpus,time,memory,disk,attempt,%cpu,peak_rss,peak_vmem,realtime'

// PCA reference frames and hg19 annotation files
params.preQCIMDS_HapMap2 = "/assets/annotations/hg19/Hapmap2/hapmap_CEU_JPT_CHB_YRI_r23a_filtered"
params.preQCIMDS_1kG = "/assets/annotations/hg19/1000G/1kG"
params.preQCIMDS_1kG_sample = "/assets/annotations/hg19/1000G/1000GP_Phase3.sample"
params.projection_on_populations_hapmap = "/assets/annotations/hg19/Hapmap2/projection_on_HapMap2_populations.txt"
params.variant_annotation_db = "/assets/annotations/hg19/hg19_annotations.sqlite"
params.fasta_reference = "/assets/annotations/hg19/1000G/human_g1k_v37.fasta"
params.hapmap2_annotations = "/assets/annotations/hg19/Hapmap2/hapmap2-annotations.txt"
params.twtable = "/opt/eigensoft-4.2/src/smarttables/twtable"
params.wrayner_strands = "/assets/annotations/wrayner_strands/Source"

process.cache = 'lenient'
process.errorStrategy = 'retry'
process.maxRetries = 5


