manifest.mainScript = 'Assoc.nf'

process.container = "library://jkaessens/ikmb-gwas/qc-assoc-assets.sif"

env.SCRIPT_DIR = "$baseDir/bin"
env.PYTHONPATH = env.SCRIPT_DIR
env.PYLIB_DIR = "$baseDir/lib"
env.REPORT_DIR = "$baseDir/report"

profiles {
    standard {
        executor.name = "slurm"
        executor.queueSize = 150
        process.executor = "slurm"
        process.queue = "all"
    }
}
