//Change this file to your own custom values before running this pipeline!

// Job paramaters to set for this environment

params {
  //Scratch

  scratch = false

  // Defaults only, expecting to be overwritten
  max_memory = 1300.GB
  max_cpus = 64
  max_time = 48.h
  maxMultiqcEmailFileSize = 25.MB
}

//Defaults for each process:
process {
    executor='local'
}

//Default for total execution, remove this part when not executor='local':
executor {
  cpus = 64
  memory = 500.GB
}

singularity {
	enabled = true
	runOptions = "-B /dpool"
	cacheDir = "/dpool/singularity-cache"
}