
// Job paramaters to set for this environment

params {
  //HARDWARE_MAXIMUM
	max_cpus = 24
	max_memory = 120.GB

  //ACTIVATE SCRATCH
  scratch = true


  //liftover executable
  ucsc_liftover = "/work_beegfs/sukmb465/Pipelines/liftover/assets/liftover" 
}

// Resource manager settings

executor {
  queueSize=50
}

// Process setting

process {
  
  executor = 'slurm'
  queue = 'all'
  //clusterOptions = '-C fast'

}

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch -B /work_beegfs"
  //cacheDir = "/work_ifs/ikmb_repository/singularity_cache"
  cacheDir = "/work_beegfs/sukmb465/singularity-cache"
}

